.add-meal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__field {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5rem;

      & > label {
        width: 2rem;
      }
    }
  }
}
