.container {
  display: grid;
  grid-template-areas: "drawer content";
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.drawer {
  display: flex;
  flex-direction: column-reverse;
  background: #f5f5f5;
  padding: 1rem 1rem;
  background: linear-gradient(180deg, #22c55e 0%, #a7f3d0 55%, #ffffff 100%);

  .profile {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
}

.content {
  padding: 5rem;
}
