.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 5rem 5rem;

  &__avatar {
    position: relative;
    border-radius: 50%;

    & > img {
      opacity: 1;
      display: block;
      transition: 0.5s ease;
      border-radius: 50%;
      backface-visibility: hidden;
      width: 10rem;
      height: 10rem;
    }

    &__update {
      // transition: 0.5s ease;
      // opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }

    &:hover > img {
      opacity: 0.3;
      cursor: pointer;
    }

    &:hover > &__update {
      opacity: 1;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.7rem;

    label {
      font-size: 0.9rem;
    }

    input {
      width: 10rem;
    }

    &__actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      input {
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid black;
        padding: 0.5rem;
        height: 2rem;
        min-width: 12rem;
      }
    }
  }
}
